body {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction {
    width: 1000px;
    font-size: 22px;
}

.paragraph {
    width: 700px;
    font-size: 18px;
}

img {
    width: 640px;
    height: auto;
}

.reasonimages {
    padding: 0 0 30px;
}