body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.greybox {

}

.maincontent {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction {
    width: 1000px;
    font-size: 22px;
}

.reasontitles {
    margin-bottom: -8px;
}

.paragraph {
    width: 700px;
    font-size: 18px;
}

.conclusion {
    width: 1000px;
    font-size: 22px;
    padding: 10px 0;
}

.talink {
    width: 1000px;
}

.sources-p {
    padding: 30px;
}

img {
    width: 640px;
    height: auto;
}

.reasonimages {
    padding: 0 0 40px;
}

